/.htaccess
/vendor
/wp
/wp-config.php
/content/languages
/content/upgrade
!/content/uploads
/content/plugins/*
/content/themes/*
!/content/themes/cyclorun
!/content/plugins/crud-sortie
!/content/plugins/outing
!/content/plugins/ml-slider

