/vendor
/wp
wp-config.php
/content/languages
/content/upgrade
/content/uploads
/content/plugins/*
!/content/plugins/custom-table-wp_outing
/content/themes/*
!/content/themes/cyclorun
!/content/plugins/crud-sortie
