.connexion{
    width: 30%;
    background-color: $ligthgrey;
    position: absolute;
    top: 30%;
    left: 40%;
    color: $dark;

    &__page{

        &__logo{
            padding-left: 5rem;
            padding-bottom: 2rem;
        }

        &__inputs{
            width: 100%;
        }
    
        &__buttons{
            width: 100%;
            display: flex;
            
            &__connexion{    
                margin-top: 2rem;
                margin-right: 2rem;
                background-color: $blueduck;
                //padding: $gutter-small;
                border-radius: $gutter-small;
                color: $ligthgrey;
            }
            &__inscription{   
                margin-top: 2rem;
                background-color: $dark;
                //padding: $gutter-small;
                border-radius: $gutter-small;
                color: $ligthgrey;

                &__link{
                    color: $ligthgrey;

                    &:visited{
                        color: $ligthgrey;
                    }
                }

            }
        }
    }
    
    &__title{
        width: 20%;
        margin: auto;
        font-weight: bolder;
        color: $ligthgrey;
        text-align: center;
        //padding-top: $gutter-large-very;
        //padding-bottom: $gutter-large-very;
    }
}