.navbar{
    background-color: $blueduck;
    display: flex;
    justify-content: space-between;
   

    &__link{
        color: $lightgrey;

        &:visited{
            color: $lightgrey;
        }
    }
}

