.navbar{
    background-color: $blueduck;
    display: flex;
    justify-content: space-between;

    &__link{
        color: $ligthgrey;

        &:visited{
            color: $ligthgrey;
        }
    }
}



.authentified{
    border-bottom: $font-size-s/3 solid $blueduck;
}