.navbar{
    background-color: $blueduck;
    display: flex;
    justify-content: space-between;

    &__item{
        color: $dark;
    }

    &__item__is-active{
        color: $blueduck;
        border-bottom: $font-size-s/3 solid $blueduck ;
    }
}

.authentified{
    border-bottom: $font-size-s/3 solid $blueduck;
}