/* Entete de la page */
.outing-reg__organisation{
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 3px solid #00757F;
}

.adviseForm {
    margin-left: 1rem;
    margin-top: 1rem;
    font-style: italic;

    &__img {
        float: left;
        margin-right: 0.5rem;
    }
}

// "*"
.outing-reg__span{
    color: red;
}

//Les inputs
.outing-reg__input{
    border: 2px solid $dark;
    border-radius: 0.2rem;

    &__name{
        border: 2px solid $dark;
        width:60%;

        &:focus{
            background-color: $lightgrey;
            border: 2px solid $blueduck;
        }
    }


    &__time,
    &__date{
        border: 2px solid $dark;
        text-align:center;

        &:focus{
            background-color: $lightgrey;
            border: 2px solid $blueduck;
        }
    }
   

    &__length{
        border: 2px solid $dark;
        width: 20%;

        &:focus{
            background-color: $lightgrey;
            border: 2px solid $blueduck;
        }
    }

    &__picture{
        width: 50%;
        border: 2px solid $dark;
    }
}

.outing-reg__input:focus{
    background-color: $lightgrey;
    border: 2px solid $blueduck;
}

/* Formulaire global */
.outing-reg__creation{
   margin-top: 4rem;
}

/* Haut du formulaire */
.outing-reg__top__form{
    display: flex;
    justify-content: space-between;
}

/* Partie gauche du form */
.outing-reg__left{
    width:33%;
}

.outing-reg__date,
.outing-reg__time{
    display:flex;
    flex-direction: column;
}


/* Partie centrale du form */
.outing-reg__practice{
    display:flex;
    flex-direction: column;
}

/* Partie insertion de l'image */
.outing-reg__image{
    display:flex;
    flex-direction: column;
    width: 33%;
    margin-bottom: .5rem;
}

/* Input nom de la sortie */
#outing_name{
    height: 3rem;
    font-weight: bold;
    display: block;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
}

/* Inputs date et heure */
.outing-reg__rdv{
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-bottom: 3rem;
    line-height: 2rem;
}

/* Input distance du parcours */
.outing-reg__length{
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    width: 70%;
    padding-left: 5%;
}

/* Titre de la sortie*/
.outing-reg__title{
    text-align:center;
    margin: auto;
    width: 50%;
}

// Lieu de la sortie
.outing-reg__location{
    display: flex;
    line-height: 2rem;
    flex-direction: column;
    padding-left: 5%;
    margin-top: 1.5rem;
}

//Selects de niveau
.outing-reg__select{
    line-height: 2rem;
    margin-bottom: 1.5rem;
    padding: .5rem;
    border: 2px solid $dark;
    border-radius: 0.2rem;

    &:focus{
        border: 2px solid $blueduck;
    }
}

//"label" par défaut dans le sélect
.default__select{
    line-height: 1.5rem;
}


//Description de la sortie
.outing-reg__description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    width: 95%;
    padding-left: 5%;
}

//Div contenant le bouton de soummission
.outing-reg__submit{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

//Bouton de soumission du formulaire
.outing-reg__input__submit{
    background-color: $blueduck;
    border-radius: 0.5rem;
    color: white;
    height: 2rem;
}





//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
//MESSAGES D'ERREURS

.outing-reg__errors{
    background-color: white;
    width: 30%;
    position: absolute;
    top: 75%;
    right: 5%;
    padding-left: 1rem;
    border: 1px solid $blueduck;
    border-radius:1rem;
    padding-top: 1rem;

    &__strong{
        font-weight: bold;
        
    }
}

.outing-reg__errors__li{
    color: red;
}


//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
//FORMULAIRE OK

.outing-reg__ok{
    display: flex;
    flex-direction: column;
    color: $blueduck;
    position: absolute;
    top: 80%;
    right: 5%;
    border-radius:1rem;
}

.btn__success__outing{
    margin-top:1rem;
    background-color: $blueduck;
    border-radius: 0.5rem;
}