.outing{
    margin-bottom: $gutter-large-very*2;
    
    &__title{
        font-weight: bolder;
        text-align: center;
        margin: $gutter-large-very;
    }

    &__section{
        display: flex;
    }

    &__article{
        width: 33%;
        display: flex;
        line-height: $font-size-s;

        &__button{
            background-color: $dark;
            border-radius: $gutter-small;
            color:$ligthgrey;
            font-size: $font-size-default;
            float: right;
            line-height: $font-size-default;
            padding: $gutter-small;
        }
        
        &__pict{

            &__svg{
                width: 3%;
            }
        }
    }
}

.is-active{
    color: $blueduck;
    border-bottom: $font-size-s/3 solid $blueduck ;
}