.outing{
    width: 30%; 
    display: flex; 
    flex-direction: row;
    margin-bottom: 0.5rem;
    

    &__attachments{
        width:50%; 
        position:relative;

        &__pycto{
            position: absolute; 
            width:10%; 
            bottom:0rem; 
            right:1rem;
        }
    }

    &__button{
        margin-top:0.5rem;
        background-color: $blueduck;
        color:$lightgrey;
        border: none;

        &:hover{
            background-color: $dark;
        }

        &:visited{
            color: $lightgrey;
        }
    }



   
}