
.inscription__form{
	background-color: $lightgrey;
	display: flex;
	width: 45%;
	min-height: 100mvh;
	margin: auto;
	border: 1px solid $dark;
	border-radius: $font-size-default;	
}

.inscription__form__subsection__left{
	border-right: 1px solid $dark;
	max-width: 50%;
	padding: 2rem;
}

.inscription__form__subsection__right{
	//border-right: 1px solid $dark;
	max-width: 50%;
	padding: 2rem;
}

.inscription__form__label{
	display: block;

	&__cycling{
		margin-top: 2rem;
	}
    
}

.inscription__form__label__title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: large;
}
    

.inscription__form__input{
	display: block;
    margin-top: 2rem;
}

.custom-select{
	background: white;
}

.birthdate{
	margin-top: 2rem;
	display: block;
}

.input__birthdate{
	width:20%;
}

.avatar{
	display:block;
	margin-bottom: 0;
	margin-top: 2rem;
}

.inscription__form__conditions{
	display: flex;
	margin-top: 2rem;
}

.terms{
	font-size: small;
}

.input-checkbox{
	margin-top:0.2rem;
	margin-right: 0.5rem;
}

.inscription__form__submit{
	margin: 1rem 8rem 0 8rem;
	background-color: $blueduck;
	padding: $gutter-small;
	border-radius: $gutter-small;
	color: $lightgrey;
	text-transform: uppercase;
	font-weight: bold;
}

.errors{
	color:red;
	font-weight: bold;
	margin-top: 2rem;

	&__list{
		list-style: none;

		&__item{
			margin-top: 1rem;
		}
	}
}

.advise{
	&__img{
		float:left;
		margin-right: 0.5rem;
	}

}

.advise p{
	text-align: justify;
	
}

