@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;800&display=swap');

body {
    margin-top: -32px;
    background-color: $lightgrey;
    font-family: $font-family;
    color: $dark;
}

p {
    margin: 0.5rem;
}

a {
    color: $dark;
}

a:hover{
    color: $dark;
    text-decoration: none;
}

a:visited{
    color: $dark;
}