@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;800&display=swap');

body {
    background-color: $ligthgrey;
    font-family: $font-family;
}

p {
    margin: 1rem;
}