.home-main{

    &__welcome{
        font-size: $font-size-md;
        line-height: 2rem;
        text-align: center;
        width:50%;
        background-color: $lightgrey;
        position:absolute;
        top:40%;
        left:25%;
        padding: 2rem;
        text-transform: uppercase;

        &__sentence,
        &__word{
            color:$blueduck;
        }

        &__wrap{
            margin-top: 2rem;
            display: flex;
            justify-content: center;
        }


    }

   
}

.item-1, 
.item-2 {

    animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
    margin-top: -2.5rem;
	animation-name: anim-2;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%, 50% { left: 25%; opacity: 1; }
  53.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 53.33% { left: -100%; opacity: 0; }
    56.50%, 95% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}
