/* Taille des icones cycling et running */
.profile__infos__sports__practice__svg{
    width: 3em;
    
}

/* photo de profile */
.avatar__img{
    display: block;
    border-radius: 50%;
}

/* Toute la page */
.profile{
    display: flex;
    margin-top: 3rem;
}
//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
/* Partie gauche de la page */
.profile__infos{
    border-right: 2px solid #00757F;
    max-width: 50%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

//Titre "mon profile"
.profile__title{
    margin-bottom: 4rem;
}

/* Infos perso sous la photo */
.profile__infos__personal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

// age et ville
.profile__infos__content{
    text-align: center;
}

/* sport pratiqué */
.profile__infos__sports__practice{
    display: flex;
}

.profile__infos__sports{
    min-width: 50%;
}

.my__practice__level{
    margin: 3rem;
}

.selected__practice__level{
    text-align: center;
}

/* Partie droite de la page (listes des sorties */
.profile__outings{
    padding-left: 5rem;
}

/* Titres des listes de la partie droite de la page */
.profile__outings__created__title, .profile__outings__future__title{
    text-decoration: underline;
    line-height: 1.5rem;
    margin-bottom: 3rem;
}


/* Les sorties que j'ai créé */
.profile__outings__created{
    padding-bottom: 3rem;
}

/* Infos de chacune des sorties */
.profile__outings__list{
    padding-left: 0;
}

//Mise en palce des listes

.profile__infos__sports__practice__svg__right{
    width: 1.5rem;
}


// Sous titres de la partie droite
.profile__outings__created__title__author, .profile__outings__created__title__participant{
    font-size: 1.2rem;
    margin-top: 3rem;
}

//Un item de la liste

.profile__outings_created__content, .profile__outings__future__content{
    display: flex;
}

.link__to__details:hover{
    color: $blueduck;
    text-decoration: underline;
}

.link__to__details{
    font-size: 0.8rem;
    margin: auto;
    font-style: italic;
    margin-left: 1rem;
}